.App {
  text-align: center;
}

.app-styling {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-expandable {
  margin-top: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-element-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #29335ca5;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
  width: 90%;

  border-color: #c2f970;
  color: #c2f970;

  border-radius: 60px;
  border-style: solid;
  border-width: 1px;

  transition-duration: 0.2s;
  text-align: center;
  font-size: 18px;
  padding: 5px;

  margin-bottom: 10px;
}

.nav-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-user img {
  height: 25px;
  margin-left: 2px;
  margin-right: 5px;
}

.nav-user p {
  margin-left: 2px;
  margin-right: 2px;
}

.nav-element {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-element-container:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #d58936;
}
.nav-element-container:active {
  background-color: #810e14;
}

.user-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 90%;
}

.user-details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  background-color: #810e1448;
  margin: 10px;
}

.user-details:hover {
  border-style: double;
  background-color: #0e811d48;
  cursor: pointer;
}

.home-component {
  margin: 0;
  /* background-color: #eefeff63; */
  /* box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19); */
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.603);
  font-weight: 500;
  font-size: 40px;
  text-shadow: 2px 2px #000000ef;
  letter-spacing: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: none;
  /* background-color: rgba(206, 206, 206, 0.74); */
}

.home-filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sortby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sortby img {
  height: 15px;
  /* width: 15px; */
  background-color: rgb(255, 202, 110);
  margin: 2px;
  padding: 2px;
  border-style: solid;
  border-width: 0.2px;
}

.sortby img:hover {
  height: 18px;
  border-color: orangered;
}

.whole-expand-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-box {
  /* background-color: #eeffef63; */
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  /* box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19); */
}

.home-component select {
  margin: 5px;
}
.home-component select:hover {
  border-color: orangered;
}

.review-expand-section {
  border-style: groove;
  border-width: 0.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  /* border-radius: 25%;
  border-radius: 28px; */
  background: linear-gradient(225deg, #d6e6d779, #ffffff);
  box-shadow: 0px 7px 20px #e0f0e1, 0px -7px 20px #fcfffd;
}

.review-expand-section:hover {
  border-style: double;
  border-width: 4px;
  border-color: #810e14;
  cursor: pointer;
  margin: -3px;
  /* background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4351648351648352) 0%,
    rgba(255, 255, 255, 0.09010989010989012) 25%,
    rgba(10, 1, 1, 0.02197802197802201) 50%,
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 0.53125) 100%
  ); */
}

.review-title {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.603);
  font-weight: 500;
  font-size: 21px;
  text-shadow: 2px 2px #000000ef;
  text-align: center;
  width: 95%;
  /* border-radius: 10px; */
  /* margin: 15px; */
  padding: 5px;

  border-radius: 28px;
  background: #e6d8d882;
  box-shadow: inset -28px 28px 55px #d9cccc79, inset 28px -28px 55px #ffffff79;
}
.review-title p,
.review-title h3 {
  margin: 0;
  padding: 0;
}
.review-title p {
  font-size: 18px;
  text-shadow: 2px 2px #030035ef;
}

.review-images {
  width: 120px;
  height: 100px;

  margin: 5px;
  border-style: inset;
  transition-duration: 0.2s;
}
.review-images:hover {
  width: 130px;
  height: 110px;
}

.image-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-category p {
  color: #5e090e;
  border-style: groove;
  background-color: rgba(238, 255, 0, 0.171);
  padding: 5px;
  margin: 5px;
}

.singleReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expand-icon {
  font-size: 30px;
  margin: 5px;
}
.expand-icon:active {
  border-style: inset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  text-align: center;
}

.expanded-review {
  width: 95%;
  /* border-style: groove; */
  /* border-radius: 10%; */
  background-color: rgba(222, 222, 222, 0.486);
}

.comments-expand-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: coral;
  width: 100%;
  height: 50px;
  background: rgb(246, 246, 246);
  background: linear-gradient(
    180deg,
    rgba(246, 246, 246, 0.514) 0%,
    rgba(250, 255, 210, 0.521) 50%,
    rgba(255, 255, 255, 0.591) 100%
  );
  box-shadow: 0px 14px 25px #e0f0e1, 0px -14px 25px #fcfffd;
}
.comments-expand-section:hover {
  cursor: pointer;
  border-style: double;
  border-color: #dfd800;
  margin: -3px;
}
.likes-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.likes-section p {
  padding: 10px;
  margin: 10px;
  z-index: 9999;
}

.likebtn {
  background: url('./images/like.png');
  background-size: 100%;
  background-repeat: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border-width: 1px;
  border-radius: 50%;
  border-style: outset;
  transition-duration: 0.2s;
}

.likebtn:hover {
  transform: translateY(-2px);
  cursor: pointer;
  /* border-color: navy; */
}
.likebtn:active {
  border-style: inset;
}

.likebtn:disabled {
  transform: none;
  filter: grayscale();
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form label {
  margin: 10px;
  text-decoration: underline;
}
.login-form textarea {
  margin: 10px;
  size: 500;
  width: 260px;
  height: 50px;
}
.login-form button {
  margin: 10px;
  padding: 5px;

  border-style: outset;
  background-color: rgba(0, 255, 55, 0.219);
  transition-duration: 0.2s;
}

.login-form button:hover {
  cursor: pointer;

  transform: translateY(-2px);
  cursor: pointer;
  background-color: rgba(0, 255, 55, 0.637);
}
.login-form button:active {
  border-style: inset;
}

.individual-comments {
  background-color: #7230342a;
  margin: 10px;
  width: 90%;
}
.comment-body {
  background-color: #72303441;
  padding: 5px;
}

.like-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.like-component p {
  margin: 10px;
}

.author-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.author-details p {
  margin: 3px;
}

.author-name {
  color: navy;
  font-weight: bolder;
}

@media only screen and (min-width: 600px) {
  .review-expand-section {
    flex-direction: row;
  }
  .comments-expand-section {
    flex-direction: row;
  }
  .image-category {
    flex-direction: row;
  }
  .login-form {
    flex-direction: row;
  }
}
